.faq-spoiler {
  width: 100%;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
  font-family: $font-family;
  background: #f5f5f5;

  h2 {
    font-size: 30px;
    line-height: 120%;
    font-weight: 400;
    margin-bottom: 16px;

    @media (max-width: $bp-mobile) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: $color-gray;
    margin-bottom: 40px;

    @media (max-width: $bp-mobile) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .faq-container {
    max-width: 800px;
    border-radius: 8px;

    margin: 0 auto;
    background: #fff;
    padding: 0;
    text-align: left;

    .spoiler-block__item {
      width: 100%;
      max-width: 800px;
      margin: 0 auto 16px auto;
      border-bottom: 1px solid $color-stroke;

      &:last-child {
        border-bottom: none;
      }

      .spoiler-block__title {
        width: 100%;
        padding: 16px;
        font-size: 16px;
        font-weight: 500;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-black;

        span {
          width: 20px;
          height: 20px;
          display: inline-block;
          background: url("/assets/icons/plus-circle.svg") no-repeat center
            center;
          background-size: contain;
          // transition: transform 0.3s;
        }

        &.active span {
          background: url("/assets/icons/minus.svg") no-repeat center center;
          background-size: contain;
        }
      }

      .spoiler-block__content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;

        .spoiler-block__info {
          padding: 0 16px 0;

          .spoiler-block__text {
            font-size: 16px;
            line-height: 24px;
            color: $color-gray;
            text-align: left;
          }
        }
      }
    }
  }
}
