$font-family: 'Poppins', sans-serif;

$color-black: #000;
$color-white: #fff;
$color-gray: #737373;
$color-gray-light: #cacacb;
$color-stroke: #ebebeb;

$bp-desktop: 1280px;
$bp-tablet: 1279px;
$bp-mobile: 767px;
